<template name="adminUser">
    <div class="row">
        <div class="columns small-12">
            <h1>Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12 medium-6">
            <h3>All users</h3>
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                {{> user}}
                {{/each}}

                </tbody>
            </table>
        </div>
        <div class="columns small-12 medium-6">
            <h3>Add a new Users</h3>
            <form class="new-user">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="email" name="email" placeholder="email">
                <input type="submit">
            </form>
        </div>
    </div>








</template>



<template name="user">
    <tr>
        <td>{{username}}</td>
        <td><a data-user-id="{{_id}}" class="user-delete-link">Delete</a> </td>
    </tr>
</template>