<template name="adminGroup">
    <div class="row">
        <div class="columns small-12">
            <h1>Groups</h1>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12 medium-6">
            <h3>All Groups</h3>
            <table>
                <thead>
                <tr>
                    <th>Groupname</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each groups}}
                {{> group}}
                {{/each}}

                </tbody>
            </table>
        </div>
        <div class="columns small-12 medium-6">
            <h3>Add a new Group</h3>
            <form class="new-group">
                <input type="text" name="groupname" placeholder="Name">
                <input type="submit">
            </form>
        </div>
    </div>
</template>

<template name="group">
    <tr>
        <td>{{name}}</td>
        <td>
            {{users.length}}
        </td>
        <td><a data-group-id="{{_id}}" class="group-delete-link">Delete</a> </td>
    </tr>
</template>


