<template name="admin">
    <div class="row">
        <div class="columns small-12">
            <h1>Welcome to the dashboard</h1>
        </div>
    </div>


    {{#if isInRole 'admin'}}
    <div class="row">
        <div class="columns small-12 medium-6">
            <h3>User Administration</h3>
            <p>Go to the <a href="{{ pathFor 'adminUser' }}">User</a> section to add or delete Users</p>
        </div>
        <div class="columns small-12 medium-6">
            <h3>Group Administration</h3>
            <p>Go to the <a href="{{ pathFor 'adminGroup' }}">Group</a> section to add or delete Groups</p>
        </div>
    </div>
    {{/if}}
</template>





