<template name="appBody">
    <header class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Welcome to Meteor!</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar left-off-canvas-toggle menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section hidden-for-small">
                <ul class="right">
                    {{#if isInRole 'admin'}}
                    <li><a href="{{ pathFor 'admin' }}">Dashboard</a></li>
                    <li><a href="{{ pathFor 'adminUser' }}">User</a></li>
                    <li><a href="{{ pathFor 'adminGroup' }}">Groups</a></li>
                    {{/if}}
                    <li>{{> loginButtons}}</li>
                </ul>
            </section>

        </nav>
    </header>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <!-- Off Canvas Menu -->
            <aside class="left-off-canvas-menu">
                <!-- whatever you want goes here -->
                <ul>
                    <li><a href="{{ pathFor 'admin' }}">Dashboard</a></li>
                    <li><a href="{{ pathFor 'adminUser' }}">User</a></li>
                    <li><a href="{{ pathFor 'adminGroup' }}">Groups</a></li>
                </ul>
            </aside>
            {{#each thisArray}}
            {{> yield}}
            {{/each}}


            <a class="exit-off-canvas"></a>

        </div>
    </div>

    {{initFoundation}}

</template>