<template name="home">
    {{#if currentUser}}
    <div class="row">
        <div class="columns small-12">
            <h1>Hallo</h1>
        </div>
    </div>
    {{else}}
        {{> loginForm}}
    {{/if}}
</template>