#login-dropdown-list {
  top: 49px;
  left: -141px;
}

#login-buttons .login-close-text {
  float: none;
  padding-bottom: 0px;
}

//not nice but neccessary to override the specificity of foundation
.top-bar-section #login-dropdown-list .login-close-text {
  background: #fff;
}