<template name="loginForm">
    <div class="row">
        <div class="columns small-12 medium-centered medium-6">
            <h3>Please Login:</h3>
            <form class="login-form">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit">
            </form>
        </div>
    </div>
</template>